@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', "Inter", helvetica, sans-serif;
  font-size: calc(1.5em);
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  opacity: 0.8;
}
[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  font-size: calc(2em);
  color: #FAF8F8;
  font-weight: 500;
}
.number-slide1 {
  background: linear-gradient(128deg, #40AFFF 0%, #3F61FF 100%);
}
.number-slide2 {
  background: linear-gradient(128deg, #FF4B40 0%, #FF9A3F 100%);
}
.number-slide3 {
  background: linear-gradient(128deg, #B6FF40 0%, #3FFF47 100%);
}
.number-slide4 {
  background: linear-gradient(128deg, #40FFF2 0%, #3FBCFF 100%);
}
.number-slide5 {
  background: linear-gradient(128deg, #FF409C 0%, #FF3F3F 100%);
}
.nav-toggle {
  width: 3.6rem;
  height: 2rem;
  top: 2rem;
  left: 2rem;
  position: fixed;
  z-index: 2;
  cursor: pointer;
}
.nav-toggle:hover {
  opacity: 0.8;
}
.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #FAF8F8;
  content: '';
  height: 0.4rem;
  transition: all .5s;
  width: 100%;
}
.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}
.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}
.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}
.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}
.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: #FAF8F8;
  margin-top: 0;
}
.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav {
  display: flex;
  width: 20rem;
  height: 100vh;
  top: 0;
  left: -40rem;
  padding: 6rem 2rem 2rem 2rem;
  background: #2b3742;
  color: #FAF8F8;
  position: fixed;
  z-index: 1;
  cursor: pointer;
  transition: all .5s;
}
.nav.expanded {
  left: 0;
}
.nav.nav-item.active-item {
  color: #28dde0;
}
.nav ul {
  list-style: none;
  margin: auto 0;
  padding: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper > * {
  margin: 5px;
}
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: auto;
  overflow: hidden;
  position: relative;
}
.media img {
  max-width: 100%;
  height: auto;
}
.layer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: 10px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #FAF8F8;
  text-transform: uppercase;
  transition: all 0.9s ease;
}
.layer p {
  transition: all 0.9s ease;
  transform: scale(0.1);
}
p {
  font-family: 'Inconsolata', monospace;
  font-size: 0.5em;
  letter-spacing: 1px;
  text-align: center;
}
.media:hover .layer {
  width: 100%;
  opacity: 0.8;
  transition: all 0.5s ease;
}
.media:hover .layer p {
  transform: scale(1);
  transition: all 0.9s ease;
}
